<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false"
	version="3.0">
	
	<display-name>Demo-Jetty-Servlet</display-name>
	<welcome-file-list>
	    <welcome-file>html/index.html</welcome-file>
	</welcome-file-list>
	
	<listener>
	    <listener-class>demo.servlet.listener.DemoContextListener</listener-class>
	</listener>
	
	<filter>
	    <filter-name>demo-filter</filter-name>
	    <filter-class>demo.servlet.filter.DemoFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>demo-filter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	    <servlet-name>demo-servlet</servlet-name>
	    <servlet-class>demo.servlet.DemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>demo-servlet</servlet-name>
	    <url-pattern>/demo</url-pattern>
	</servlet-mapping>
</web-app>
